.projectCard{
    background-color: var(--surface);
    color: var(--onBackground);
    box-shadow: inherit;
    scale: 1;
    transition-duration: 300ms;
}

.projectCard:hover{
    scale: 1.02;
    box-shadow: rgba(83, 83, 83, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    z-index: 10;
}

.projectCard:active{
    scale: 1.005;
    box-shadow: rgba(83, 83, 83, 0.25) 0px 2px 8px 0px;
}

.projectMain{
    background-color: var(--surface);
}

@media (min-width: 36rem){
    .projectHeader{
        background-color: var(--surface);
    }

    .projectMain{
        background-color: inherit;
    }
}

.list{
    list-style-type: none;
  }
  
.listItem{
position: relative;
padding: 0 0.5rem 0.5rem 0.5rem;
margin-bottom: 0.5rem;
}

.listItem:not(:last-child)::after{
content: '';
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 1px;
background-color: var(--onBackgroundLowContrast);
opacity: .5;
}

.modal-overlay{
background-color: var(--onBackgroundLowContrastSemiTransparent);
}

.modal{
background-color: var(--background);
}

.separator{
background-color: var(--stroke);
}